.updated {
  color: red;
}
.body {
  background-color: #d9ead3;
}
.freightWatch {
  padding: 40px 40px 0px 40px;
}
.load {
  display: flex;
  border: solid 1px;
}

.ng-star-inserted {
  padding: 6px 1rem;
}
table {
  width: 100%;
}

tr [_ngcontent-ng-c3288653432] {
  font-size: 12px;
  font-weight: 400;
  padding: 14px 0rem 10px;
  letter-spacing: 0.25px;
  /* color: #2c2c2e; */
  vertical-align: top;
  width: 100%;
}
td [_ngcontent-ng-c3288653432] {
  max-width: 100%;
}
.mdc-dialog__container {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: auto;
}

.mat-mdc-dialog-content {
  height: 600px;
  width: 800px;
  background-color: rgb(246, 246, 210);
  margin: 5% auto;
  padding: 20px;
  display: flex;
}
.column-item {
  width: 33%;
}

.row-item {
  display: flex;
  padding: 0 0 0 10px;
}
.broker-info-item {
  padding: 0 20px 0 0;
}

.pink {
  background-color: pink;
}
.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.cange_modal_background {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: auto;
}
.change_modal_window {
  height: 150px;
  width: 600px;
  background-color: rgb(255, 255, 255);
  margin: 15% auto;
  padding: 20px;
  /* display: flex; */
}

/*history */

.change-header {
  font-size: 14px;
}
.change-item {
  font-size: 14px;
}
.row {
  display: flex;
}
.change-audit {
  display: flex;
}

.d-flex {
  display: flex;
}
.stop-row-even {
  display: flex;
}
.d-inline-flex {
  align-items: center;
  padding: 0 0 20px 0;
}
.mdc-text-field__input {
  width: 50px;
  margin: 0 10px 0 0;
}
.stop-title-row {
  width: 150px;
}
.ng-scroll-content {
  margin: 10px 0 0 0;
}
.close_btn {
  height: 30px;
  width: 80px;
  border-radius: 10px;
}
.m-l-4 {
  height: 30px;
  width: 80px;
  border-radius: 10px;
  background-color: rgb(53, 53, 237);
}
.date-item {
  padding: 0 15px 0 0;
}
.stop-counter {
  padding: 0 10px 0 0;
  margin: 16px 0 0 0;
}
